
<div id="admin-index" class="center-eighty">

	<div class="center">
    <h1>Welcome to the Admin Panel</h1>
		<h3>You can add or edit project, researchers, publications, and more on this page.</h3><br>
  </div>
	
	<!-- Links to create new entities  -->
	<div class="two-column">
		<p>
			<%= link_to 'Add A New Project', new_project_path %><br>
			<span>*Add the details of a new project.</span>
		</p>
		<p>
			<%= link_to 'Add A New Researcher', new_person_path %><br>
			<span>*Add the details of a researcher that newly joined the group.</span>
		</p>
		<p>
			<%= link_to 'Add A New Publication', new_publication_path %><br>
			<span>*Add the details of a new publication.</span>
		</p>
		<p>
			<%= link_to 'Add A New News Report', new_report_path %><br>
			<span>*Add the details of a new news report article.</span>
		</p>
		<p>
			<%= link_to 'Add A New Working Relationship', new_work_path %><br>
			<span>*Establish the relationship of Who is Wroking on What.</span>
		</p>
		<p>
			<%= link_to 'Add A New Publishing Relationship', new_write_path %><br>
			<span>*Established the relationship of Who Wrote What.</span>
		</p>
	</div>

	<!-- Links to edit or delete entities -->
	<div class="two-column">
		<p>
			<%= link_to 'Edit Projects', projects_path %><br>
			<span>*Edit the details or delete projects.</span>
		</p>
		<p>
			<%= link_to 'Edit Researchers', people_path %><br>
			<span>*Edit the details or delete researchers from the group.</span>
		</p>
		<p>
			<%= link_to 'Edit Publications', publications_path %><br>
			<span>*Edit the details or delete publication.</span>
		</p>
		<p>
			<%= link_to 'Edit Reports', reports_path %><br>
			<span>*Edit the details or delete publication.</span>
		</p>
		<p>
			<%= link_to 'Edit Wroking Relationship', works_path %><br>
			<span>*Edit the relationship of Who is Wroking on What.</span>
		</p>
		<p>
			<%= link_to 'Edit Publishing Relationship', writes_path %><br>
			<span>*Edit the relationship of Who Wrote What.</span>
		</p>
	</div>
	<br style="clear:both" />

	<!-- Manage Comments -->
	<div id="admin-comment">
		<p>
			<%= link_to 'Manage All Comments', comments_path %><br>
			<span>View all comments and edit/delete.</span>
		</p>
	</div>

</div>

















