<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :project_id %>
  <div class="field">
    <br><h3 style="color:#7E0514">Leave a comment for this project.</h3>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <input type="submit" name="submit" value="Leave Comment" class="submit" />
  </div>
<% end %>
