<div id="comment-index" class="center-fifty">
<br>
<div class="center">
  <h1>All Comments</h1>
</div>

<% @comments.each do |comment| %>
  <div>
    <div>
      <span><strong>By: </strong><%= @users.where(:id => comment.user_id).first.first_name %> <%= @users.where(:id => comment.user_id).first.last_name %></span> |
      <span><strong>Project Name: </strong><%= @projects.where(:id => comment.project_id).first.title %></span>
    </div>

    <div>
      <span><strong>Content: </strong><%= comment.content %></span>
    </div>
    <div>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br>
  </div>
<% end %>

<div class="center">
    <br><br><br>
    <%= link_to 'Back to Main Page', root_path %>
    <% if user_signed_in? && current_user.role == "admin"%>
      | <%= link_to 'Back to Admin Panel', admins_path %>
    <% end %>
  </div>

</div>