
<div id="people-index">

  <div class="center">
    <h1>Currently Involved Researchers</h1><br><br>
  </div>

  <div class=container>
    <% @people.each do |person| %>
        <div class="two-column">
          <%= image_tag person.avatar.url(:thumb) %>
          <span class="person-description"><strong><%= person.first_name %> <%= person.last_name %></strong></span>
          <br><br>
          <%= link_to 'View Bio', person %>
          <% if user_signed_in? && current_user.role == "admin"%>
            | <%= link_to 'Edit', edit_person_path(person) %>
            | <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
    <% end %>
  </div>

  <br style="clear:both" />
  
  <div class="center">
    <br><br><br>
    <%= link_to 'Back to Main Page', root_path %>
    <% if user_signed_in? && current_user.role == "admin"%>
      | <%= link_to 'Back to Admin Panel', admins_path %>
    <% end %>
  </div>
</div>






