<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @person.major %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @person.graduation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
