
<div id="publication-index" class="center-eighty">
  
  <div class="center">
    <h1>All Publications</h1><br><br>
  </div>

  <% @publications.each do |publication| %>
    <p>
      <strong>Title: </strong><%= publication.title %><br>
      <strong>Link: </strong><%= publication.link %><br>
      <%= link_to 'View Detail', publication %>
      <% if user_signed_in? && current_user.role == "admin"%>
        | <%= link_to 'Edit', edit_publication_path(publication) %> |
        <%= link_to 'Delete', publication, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>


  <br>

  <div class="center">
    <%= link_to 'Back to Main Page', projects_path %>
    <% if user_signed_in? && current_user.role == "admin"%>
      | <%= link_to 'Back to Admin Page', admins_path %>  
    <% end %>
  </div>

</div>