<h1>Current Engagements</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= @projects.where(:id => work.project_id).first.title %></td>
        <td><%= @people.where(:id => work.person_id).first.first_name %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Delete', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relationship', new_work_path %> |
<%= link_to 'Back to Main Page', projects_path %> |
<%= link_to 'Back to Admin Panel', admins_path %>
