  
<div id="work-index" class="center-eighty">
  <div class="center">
    <h1>Current Engagements</h1><br>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Person Name</th>
          <th colspan="8"></th>
        </tr>
      </thead>

      <tbody>
        <% @works.each do |work| %>
          <tr>
            <td style="width:150px"><%= @projects.where(:id => work.project_id).first.title %></td>
            <td style="width:150px" ><%= @people.where(:id => work.person_id).first.first_name %> <%= @people.where(:id => work.person_id).first.last_name %></td>
            <td ><%= link_to 'Edit', edit_work_path(work) %> | </td>
            <td ><%= link_to 'Delete', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br><br>

  <div class="center">
    <%= link_to 'Back to Main Page', projects_path %> |
    <%= link_to 'Back to Admin Panel', admins_path %>
  </div>
</div>
