<!-- <p id="notice"><%= notice %></p> -->

<br><br>
<div id="work-show" class="center-fifty">
	<p>
	  <strong>Project ID:</strong>
	  <%= @work.project_id %>
	</p>

	<p>
	  <strong>People ID:</strong>
	  <%= @work.person_id %>
	</p>


	<%= link_to 'Edit', edit_work_path(@work) %> |
	<%= link_to 'Back', admins_path %>
</div>
