<h1>Current Projects</h1>

<!-- Display all the Projects -->
<% @projects.each do |project| %>
  <span><h2><%= project.title %></h2></p></span>
  <span><%= link_to 'Show', project %></span>
  <span><%= link_to 'Edit', edit_project_path(project) %></span>
  <span><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></span>

  <p><%= project.subtitle %></p>
  <p><strong>Website:</strong> <%= project.link %></p>
  
  <!-- Display this project's people -->
  <span><strong>People: </strong></span>
  <% project.people.each do |person| %>
    <span><%= person.first_name %></span>
    <span><%= person.last_name %>, </span>
    <span></span>
  <% end %>

  <p><%= project.description %></p>
	
  <!-- Display this project's publications -->
	<p><h3>Publications:</h3></p>
	<% project.publications.each do |publication| %>
		<p>
      <strong>Title: </strong><%= publication.title %><br>
		  <strong>Link: </strong><%= publication.link %>
    </p> 
	<% end %>

  <!-- Display this project's news reports -->
  <p><h3>News Reports:</h3></p>
  <% project.reports.each do |report| %>
    <p>
      <strong>Headline: </strong><%= report.headline %><br>
      <strong>Content: </strong><%= report.content %>
    </p>
  <% end %>

    
<% end %>


<br>
<br>
<br>

<%= link_to 'New Project', new_project_path %>
