<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @project.subtitle %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<!-- Display Picture -->
<p><%= image_tag @project.avatar.url(:medium) %></p>

<!-- Display this project's people -->
<span><strong>People: </strong></span>
<% @works.each do |work| %>
  <span><%= work.person.first_name %></span>
  <span><%= work.person.last_name %>, </span>
  <span></span>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<!-- Display this project's publications -->
<p><h3>Publications:</h3></p>
<% @publications.each do |publication| %>
	<p>
    <strong>Title: </strong><%= publication.title %><br>
	  <strong>Link: </strong><%= publication.link %>
  </p> 
<% end %>

<!-- Display this project's news reports -->
<p><h3>News Reports:</h3></p>
<% @reports.each do |report| %>
  <p>
    <strong>Headline: </strong><%= report.headline %><br>
    <strong>Content: </strong><%= report.content %>
  </p>
<% end %>

<% if user_signed_in? && current_user.role == "admin"%>
  <%= link_to 'Edit', edit_project_path(@project) %> | 
<% end %>

<%= link_to 'Back', projects_path %>




