<h1>Listing News Reports</h1>

<% @reports.each do |report| %>
  <p>
    <strong>Headline: </strong><%= report.headline %><br>
    <strong>Content: </strong><%= report.content %><br>
    <%= link_to 'View Detail', report %>
    <% if user_signed_in? && current_user.role == "admin" %>
      | <%= link_to 'Edit', edit_report_path(report) %> | 
      <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    
  </p>
<% end %>

<br>

<% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to 'New Report', new_report_path %> |
<% end %> 

<%= link_to 'Back to Main Page', projects_path %>
<% if user_signed_in? && current_user.role == "admin" %>
  | <%= link_to 'Back to Admin Page', admins_path %>  
<% end %>